<style>
.carousel img {
  max-height: 300px;
  opacity: 0.7;
  object-fit: contain;
}
.carousel-caption h5, .carousel-caption p {
  color: #f5a958;
  font-weight: 600;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.carousel-indicators [data-bs-target] {
    background-color: #f5a958;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
/* Modified from CSS found using Chrome DevTools */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5a958'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5a958'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
</style>

<div id="fmt_gal" class="carousel carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  {{#gal}}
    <button type="button" data-bs-target="#fmt_gal" data-bs-slide-to="{{i}}" aria-label="Slide {{i}}"{{#active}} class="active" aria-current="true"{{/active}}></button>
  {{/gal}}
  </div>
  <div class="carousel-inner">
    {{#gal}}
    <div class="carousel-item{{#active}} active{{/active}}" data-bs-interval="5000">
      <img src="man/figures/{{png}}" class="d-block w-100" alt="{{heading}}">
      <div class="carousel-caption">
        <h5>{{heading}}</h5>
        <p>{{description}}</p>
      </div>
    </div>
    {{/gal}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#fmt_gal" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#fmt_gal" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
