/* Solution from https://github.com/r-lib/pkgdown/issues/2770 */
.row > main {
  hyphens: none;
}

.emphasized-paragraph {
    padding: 1em;
    border-radius: 8px;
    margin: 1em 0;
    border: 1px solid rgba(128, 128, 128, 0.3);
}
